*,
::before,
::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:Montserrat, Helvetica, sans-serif;
    background:#f4f4f4;
}
nav{
    position:fixed;
    width: 100%;
    display:flex;
    align-items:center;
    padding:15px 25px;
    background:#fafafa;
    box-shadow:inset 0px -1px 0px
    #c5c5c6;
}
.nav-icon{
    display:flex;
    align-items:center;
    text-decoration:none;
    margin-right:20px;
}
.nav-icon span{
    font-family:Roboto Flex, sans-serif;
    font-size:25px;
    margin-left:10px;
    font-weight:400;
    color:#333;
}
.hamburger{
    display:none;
}
.navlinks-container a{
    margin:0 10 px;
    font-size:16px;
    font-weight: 500;
    text-decoration:none;
    color:#414141;
    display:inline-block;
    position:relative;
}
.navlinks-container a::after{
    content:"";
    display:block;
    position:absolute;
    bottom:-3px;
    width:100%;
    height:1PX;
    transform: scale(0);
    transform-origin:left;
    background:#333;
    transition:transform 0.3s ease-out;
}
.navlinks-container a:hover::after{
    transform:scale(1)
}
.nav-authentification{
    margin-left:auto; 
}